<form class="container">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input ngControl="firstname"
               #firstname="ngForm"
               (change)="log(firstname)"
               type="text"
               class="form-control" id="firstname">
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngControl="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>